<!DOCTYPE html>
<html>
    <head>
        <title>Running 10KM - San Antonio de Areco</title>
        <!-- Metas -->
        <meta charset="UTF-8">
        <meta name="description" content="San Antonio de Areco, carrera de 10km">
        <meta name="keywords" content="San Antonio de Areco, Municipalidad, Carrera">
        <meta name="author" content="mtorre4580@outlook.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!-- Header -->
        <header>
            <nav class="navbar navbar-expand-lg  navbar-light navbar-areco">
                <a class="navbar-brand" href="#">
                    <img src="/assets/logo.png" width="200" height="80" class="d-inline-block align-top" alt="san antonio de areco, logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAreco">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarAreco">
                    <ul class="navbar-nav ml-auto navbar-areco">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/participate">Participar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Main -->
        <main class="container">
            <div class="my-5 jumbotron jumbotron-running">
                <h1 class="display-4">Carrera 10 km</h1>
                <p class="lead">El jueves 28 de junio se llevará a cabo la carrerra de 10 km</p>
                <hr class="my-4">
                <p>El municipio de San Antonio de Areco está organizando una carrera de 10Km, entre el campo y la ciudad, para fomentar el atletismo en la zona.</p>
                <a class="btn btn-success btn-lg" href="/participate" role="button">Participar</a>
            </div>
        </main>
        <!-- Footer -->
        <footer class="footer">
            <div class="text-center">© 2019 Copyright:
                <a href="http://www.sanantoniodeareco.com/">San Antonio de Areco</a>
            </div>
        </footer>
        <!--- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>